<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOSApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>38B092019B8CFCAEBDB48D8A26E0A764CF5815F3</string>
				<key>dateExpires</key>
				<string>2021/4/16</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3LVMF77FUK.com.sm.iosapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3LVMF77FUK</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3LVMF77FUK.com.sm.iosapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>掌上配网 pro.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>45d8fbdd-5613-4b5f-b90a-fc9f7d7a2d90</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.sm.iosapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3LVMF77FUK</string>
				<key>name</key>
				<string>Sunmax Su</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
